<table class="table">
  <tr>
    <th>Title</th><th>Deadline</th><th>Priority</th><th>Tag</th>
  </tr>
    <tr id=undo *ngFor="let event of eventlist" >
      <ng-container *ngIf="event.undo===true">
        <td>{{event.eventname}}</td>
        <td>{{event.deadline}}</td>
        <td>{{priorityToString(event.priority)}}</td>
        <td>{{tagToString(event.tag)}}</td>
        <td><button (click)=remove(event)>delete</button></td>
        <td><button (click)=done(event)>done</button></td>
      </ng-container>
    </tr>
    <tr id=did class="eventdone" *ngFor="let event of eventlist" >
      <ng-container  *ngIf="event.undo===false">
        <td>{{event.eventname}}</td>
        <td>{{event.deadline}}</td>
        <td>{{priorityToString(event.priority)}}</td>
        <td>{{tagToString(event.tag)}}</td>
        <td><button (click)=remove(event)>delete</button></td>
      </ng-container>
    </tr>
  </table>
  <app-addevent></app-addevent>